<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>93625902074-scu9bim9sflejk4c2k75na1u1kc005i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93625902074-scu9bim9sflejk4c2k75na1u1kc005i3</string>
	<key>API_KEY</key>
	<string>AIzaSyBpVfgyQHMub6DCxxUf41NfWO-PQBdFPtg</string>
	<key>GCM_SENDER_ID</key>
	<string>93625902074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.babymed.spalmalo</string>
	<key>PROJECT_ID</key>
	<string>babymed-fe806</string>
	<key>STORAGE_BUCKET</key>
	<string>babymed-fe806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93625902074:ios:55182e8c34cb7263</string>
	<key>DATABASE_URL</key>
	<string>https://babymed-fe806.firebaseio.com</string>
</dict>
</plist>